*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(
        180deg,
        #c7ecff,
        #f6fcff
    );

    font-family:'Nunito',sans-serif;

    padding:20px;
}

.container{
    text-align:center;
}

.envelope{

    font-size:120px;

    cursor:pointer;

    transition:.5s;

    animation:float 2s infinite ease-in-out;
}

.envelope:hover{
    transform:scale(1.1);
}

.hint{
    color:#5da8d8;
    margin-top:10px;
}

.letter{

    display:none;

    max-width:700px;

    background:white;

    padding:35px;

    border-radius:25px;

    box-shadow:0 10px 30px rgba(0,0,0,.1);

    text-align:left;

    margin-top:20px;
}

.letter h1{

    text-align:center;

    color:#5da8d8;

    margin-bottom:25px;

    font-family:'Dancing Script',cursive;

    font-size:3rem;
}

#message{

    line-height:1.8;

    color:#555;

    min-height:250px;

    white-space:pre-line;
}

#nextBtn{

    display:none;

    margin:30px auto 0;

    padding:15px 30px;

    border:none;

    border-radius:50px;

    background:#8ed6ff;

    color:white;

    font-size:1rem;

    cursor:pointer;
}

@keyframes float{

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-10px);
    }

    100%{
        transform:translateY(0);
    }

}